@using App.DB.Models;
@model int;

<div class="row mt-1">
    <div class="col-md-6">
        <label class="form-label">Value</label>
        @{  
             string name = $"Values[{Model}].Value"; 
            <input type="number" step="any" class="form-control", name=@name />
        }
    </div>

    <div class="col-md-6">
        <label class="form-label">Unit</label>
        @{
            name = $"Values[{Model}].Unit";
            <input type="text" class="form-control" name=@name />
        }
    </div>
</div>