@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Back</h1>
    <div>
        <a asp-controller="Database" asp-action="Add" class="btn btn-dark">Add New Measurements</a>
        <a asp-controller="Database" asp-action="List" class="btn btn-dark">Database</a>
    </div>
</div>
